body{
    background-color: wheat;
}
.container{
    height:300px;
    width:300px;
    margin:auto;
    margin-top:10%;
    background-color: antiquewhite;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding:20px;
    border:2px solid rgb(63, 14, 240);
}